@import "tailwindcss";

.ProseMirror {
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  outline: none;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul[data-type="taskList"] {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul[data-type="taskList"] input[type="checkbox"]{
  width: 16px;
  height: 16px;
}

ul[data-type="taskList"] li{
  display: flex;
  gap: 8px;
}

/* #d::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
}  */

/* #d::-webkit-inner-spin-button,
#d::-webkit-clear-button {
  display: none;
} */
